  <!-- <div>{{cartService.count}}</div> -->
  <section class="order" id="order" >
    <div class="container">
      <div class="order-text">
        <div class="order-text-title double-title">
          <!-- <a routerLink="/order" [queryParams]="{product: 'Купить сразу все!'}">Хватит думать! </a> -->
          <a routerLink="/order" [queryParams]="{product: formValues.productTitle+'1'}">Хватит думать! </a>
          Доставим  заказ за 30 минут!
        </div>
        <!-- <div class="order-text-message" (click)="test()"> -->
        <div class="order-text-message">
          Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
          1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
          сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
        </div>
      </div>
      <div class="order-form">
      <input type="text" class="order-input" pInputText coolInput id="product-input"
               [coolInputDefaultBgColor]="'sienna'"
               [coolInputFocusBgColor]="'rgb(185, 145, 80)'"
               placeholder="Пицца" [(ngModel)]="formValues.productTitle">

        <input type="text" class="order-input" pInputText id="address-input" placeholder="Адрес доставки" [(ngModel)] = "formValues.address">
        <input type="text" class="order-input"  pInputText coolInput  id="phone-input" placeholder="Телефон" [(ngModel)] = "formValues.phone">
        <button class="btn" tuiButton id = "create-order" >Оформить заказ</button>&ndash;&gt;
        <!--        <button class="btn"  (click)="createOrder()" >Оформить заказ</button>
            <input type="text" class="order-input"  coolInput id="product-input"
                     [coolInputDefaultBgColor]="'sienna'"
                     [coolInputFocusBgColor]="'rgb(185, 145, 80)'"
                     placeholder="Пицца" [(ngModel)]="formValues.productTitle">

              <input type="text" class="order-input"  id="address-input" placeholder="Адрес доставки" [(ngModel)] = "formValues.address">
              <input type="text" class="order-input"   coolInput  id="phone-input" placeholder="Телефон" [(ngModel)] = "formValues.phone">
        &lt;!&ndash;      <button class="btn" id = "create-order" >Оформить заказ</button>&ndash;&gt;
              <button class="btn" (click)="createOrder()" >Оформить заказ</button>-->
      </div>
      <div class="order-image">
        <img src="assets/images/pizzzzza.png" alt="Pizzzzza">
      </div>
    </div>
  </section>
  <p-accordion>
    <p-accordionTab header="Salads">
      Salads...
    </p-accordionTab>
    <p-accordionTab header="Pasta">
      Pasta...
    </p-accordionTab>
    <p-accordionTab header="Pizza" [selected]="true">
      <div>
        <p-radioButton
          label="Double cheese"
          name="pizza"
          value="double-cheese"
          [(ngModel)]="pizzaSelection">
        </p-radioButton>
      </div>

      <div>
        <p-radioButton
          label="Anchovy"
          name="pizza"
          value="anchovy"
          [(ngModel)]="pizzaSelection">
        </p-radioButton>
      </div>

      <div>
        <p-radioButton
          label="Meatlover's"
          name="pizza"
          value="meat-lover"
          [(ngModel)]="pizzaSelection">
        </p-radioButton>
      </div>
    </p-accordionTab>
  </p-accordion>

  <p-panel header="Extras" *ngIf="pizzaSelection && pizzaSelection.length">
    Would you like extra cheese on your pizza?
    <button pButton type="button" label="Ok, yeah!"></button>
  </p-panel>
